In [2]:
import pandas as pd
import numpy as np
import datetime
import ELOTools as elo

history = pd.read_excel("NALCS_History.xlsx")
history.head(7)

,Date,Patch,Blue,Red,Winner,Loser,Blue_Bans,Red_Bans,Blue_Picks,Red_Picks,...,Red_Barons,Red_RiftHerald,Diff_Gold,Diff_Kills,Diff_Towers,Diff_Dragons,Diff_Barons,Diff_RiftHerald,Tournament,Match of the Season
0,2013-04-20,NaN,Team Vulcun,Team Curse,blue,NaN,"Miss Fortune, Volibear, Kassadin","Shen, Thresh, Renekton","Zed, Xerath, Draven, Udyr, Sona","Nunu, Fizz, Tristana, Ezreal, Elise",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA-LCS-2013-Spring,112
1,2013-04-20,NaN,compLexity Gaming,Team MRN,red,NaN,"Renekton, Malphite, Jarvan IV","Kha'Zix, Zed, Amumu","Jayce, Nasus, Gragas, Caitlyn, Thresh","Riven, Shen, Twisted Fate, Twitch, Sona",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA-LCS-2013-Spring,111
2,2013-04-20,NaN,Team Dignitas,Team SoloMid,red,NaN,"Thresh, Malphite, Karthus","Gragas, Diana, Shen","Zed, Nasus, Katarina, Draven, Alistar","Renekton, Cho'Gath, Twisted Fate, Miss Fortune...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA-LCS-2013-Spring,110
3,2013-04-20,NaN,Good Game University,Counter Logic Gaming,blue,NaN,"Malphite, Cho'Gath, Shen","Twitch, Karthus, Thresh","Jayce, Elise, Ryze, Tristana, Yorick","Udyr, Jarvan IV, Orianna, Ezreal, Lulu",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA-LCS-2013-Spring,109
4,2013-04-19,NaN,Team Dignitas,Team Vulcun,red,NaN,"Jarvan IV, Karthus, Thresh","Diana, Caitlyn, Shen","Renekton, Volibear, Gragas, Draven, Alistar","Malphite, Nasus, Cassiopeia, Tristana, Sona",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA-LCS-2013-Spring,108
5,2013-04-19,NaN,Team SoloMid,Good Game University,blue,NaN,"Riven, Elise, Thresh","Renekton, Draven","Shen, Nocturne, Karthus, Varus, Sona","Jayce, Nasus, Lux, Caitlyn, Janna",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA-LCS-2013-Spring,107
6,2013-04-19,NaN,Team Curse,compLexity Gaming,red,NaN,"Zed, Jayce, Shen","Volibear, Thresh, Jarvan IV","Gragas, Udyr, Twisted Fate, Caitlyn, Lulu","Darius, Amumu, Kha'Zix, Miss Fortune, Kayle",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA-LCS-2013-Spring,106

In [9]:
def no_k(gold):
    if gold == 'k' or gold == '-':
        gold = np.nan
    else:
        gold = float(gold[:-1])*1000
    return gold
def no_dash(item):
    if item == '-':
        item = np.nan
    return item

for name in ['Blue_Gold','Red_Gold','Diff_Gold']:
    history[name] = history[name].apply(no_k)
    
for name in ['Patch','Diff_Kills', 'Diff_Towers', 'Diff_Dragons', 'Diff_Barons', 'Diff_RiftHerald']:
    history[name] = history[name].apply(no_dash)
    
    
main_history = history[['Date', 'Patch','Blue','Red','Winner','Loser', 'Tournament']]    
cloud9 = main_history[(main_history['Blue']=='Cloud9') | (main_history['Red'] == 'Cloud9')]

In [12]:
cloud9 = cloud9.sort_values(by=['Date']).reset_index(drop=True)
cloud9.head(5)

,Date,Patch,Blue,Red,Winner,Loser,Tournament
0,2013-06-12,NaN,Team Dignitas,Cloud9,Cloud9,Team Dignitas,NA-LCS-2013-Summer
1,2013-06-13,NaN,Team SoloMid,Cloud9,Cloud9,Team SoloMid,NA-LCS-2013-Summer
2,2013-06-13,NaN,Cloud9,Team Curse,Cloud9,Team Curse,NA-LCS-2013-Summer
3,2013-06-14,NaN,Cloud9,Team Coast,Cloud9,Team Coast,NA-LCS-2013-Summer
4,2013-06-15,NaN,Velocity eSports,Cloud9,Cloud9,Velocity eSports,NA-LCS-2013-Summer

In [13]:
all_teams = list(history['Blue'].unique())
all_elo = {}
for i in all_teams:
    elo = {
        date=
    }

['Team Vulcun', 'compLexity Gaming', 'Team Dignitas', 'Good Game University', 'Team SoloMid', 'Team Curse', 'Team MRN', 'Counter Logic Gaming', 'Cloud9', 'Team Coast', 'Velocity eSports', 'Azure Cats', 'Team Summon', 'Quantic Gaming', 'DoubleBuff', 'Fidelis', 'The Salad Bar', 'Team Astral Poke', 'COGnitive Gaming', 'vVv Gaming', 'Curse Academy', 'Napkins in Disguise', 'Team VEX', 'Gold Gaming LA', 'Denial eSports.East', 'New World Eclipse', 'To Be Determined', 'The Walking Zed', 'Evil Geniuses', 'Team EnVyUs', 'Team Liquid', 'Big Gods Jackals', 'Echo Fox', 'Phoenix1', 'LMQ', 'Team 8', 'FlyQuest', 'Renegades', 'Gold Coin United', 'XDG Gaming', 'Immortals', 'Team Infernal Drake (NASG Team)', 'Team Confound', 'Cloud9 Tempest', 'eUnited', 'Team Imagine', 'Enemy', 'Delta Fox', 'Team Gates', 'Tempo Storm', 'Apex Gaming', 'Final Five', 'Gravity', 'Nova eSports', 'Dream Team', 'Team Liquid Academy', 'Team Dragon Knights', 'NRG Esports', 'Apex Pride', 'Monster Kittens', 'Misfits (North American Team)', 'Toronto eSports', 'Team Mountain Drake (NASG Team)', 'Team Fusion', 'Arsenal', 'CLG Academy', 'Zenith eSports', 'Winterfox', 'Cloud9 Challenger', 'Team Impulse', 'Darkness', 'Team\xa0Secret', 'BrawL.NA', 'Ember', 'CLG Black', 'Astral Authority', 'Magnetic', 'TSM Darkness', 'Maelstrom Gaming', 'Storm', 'affNity', 'Team Frostbite', 'compLexity.Black', 'Vortex', 'Team Cloud Drake (NASG Team)', 'Team Ocean Drake (NASG Team)', 'Top Dog Gaming', 'Odyssey Gaming', 'Eanix', 'Fiction eSports', 'compLexity.White', 'Rock Bottom Gorillas', 'Roar (Chinese Team)', 'InFinity eSports', 'Frank Fang Gaming', 'The Arbiters', 'Aware Gaming']